body {
  background-color:#E1CCD4;
}

.bg {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

h1 {
  box-shadow:2px 1px 10px 5px #fff;
  font-size:50px;
  color:#DE1964;
  background-color:#000;
  padding:20px;
}

